.ezy__faq16 {
  /* Bootstrap variables */
  --bs-body-color: #252d39;
  --bs-body-bg: rgb(255, 255, 255);

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(254, 161, 22);
  --ezy-theme-color-rgb: 13, 110, 253;
  --ezy-card-bg: transparent;
  --ezy-footer-bg: #252d39;
  --ezy-footer-color: #fff;

  background-color: var(--bs-body-bg);
  overflow: hidden;
  position: relative;
  padding: 60px 0;
  z-index: 1;
}

@media (min-width: 768px) {
  .ezy__faq16 {
    padding: 100px 0;
  }
}

/* Gray Block Style */
.gray .ezy__faq16,
.ezy__faq16.gray {
  /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);
}

/* Dark Gray Block Style */
.dark-gray .ezy__faq16,
.ezy__faq16.dark-gray {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);

  /* Easy Frontend variables */
  --ezy-footer-bg: rgb(11, 23, 39);
}

/* Dark Block Style */
.dark .ezy__faq16,
.ezy__faq16.dark {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);

  /* Easy Frontend variables */
  --ezy-footer-bg: rgb(30, 39, 53);
}

.ezy__faq16-heading {
  font-weight: bold;
  font-size: 32px;
  line-height: 45px;
  color: var(--bs-body-color);
}

@media (min-width: 991px) {
  .ezy__faq16-heading {
    font-size: 45px;
    line-height: 65px;
  }
}

.ezy__faq16-sub-heading {
  font-size: 16px;
  line-height: 25px;
  color: var(--bs-body-color);
  font-weight: 500;
  opacity: 0.8;
}

.ezy__faq16 .card {
  background-color: var(--ezy-card-bg);
  color: var(--bs-body-color);
  border: 0 !important;
}

.ezy__faq16-card-title {
  font-size: 20px;
  font-weight: 700;
}

.ezy__faq16-card-text {
  color: var(--bs-body-color);
  font-size: 16px;
  line-height: 1.3;
  opacity: 0.8;
}

.ezy__faq16-card-icon {
  height: 40px;
  width: 40px;
  background-color: var(--ezy-theme-color);
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}

/* faq footer */
.ezy__faq16-footer {
  background-color: var(--ezy-footer-bg);
  border-radius: 10px;
  color: var(--ezy-footer-color);
}

.ezy__faq16-footer h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 45px;
  color: white;
}

.ezy__faq16-footer p {
  font-size: 17px;
  line-height: 1.5;
  opacity: 0.5;
  color: white;
}

@media (min-width: 991px) {
  .ezy__faq16-footer h4 {
    font-size: 45px;
    line-height: 60px;
  }
}

.ezy__faq16-footer .btn {
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--ezy-theme-color);
  border-color: var(--ezy-theme-color);
}

.ezy__faq16-footer .btn:hover {
  background-color: rgba(var(--ezy-theme-color-rgb), 0.9);
  border-color: rgba(var(--ezy-theme-color-rgb), 0.9);
}

/* footer bg */
.ezy__faq16-footer-bg {
  background-color: var(--ezy-theme-color);
  height: 250px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
